<html>
<head>
    <meta>
    <title>

    </title>
</head>

<body>
<h1>Patients </h1>
<table>
    <thead>
    <th>first name</th>
    <th>last name</th>

    <th>age</th>

    </thead>

    {% for patient in patient_list %}
    <tr>
    <td> {{ patient.firstName }}</td>
    <td> {{ patient.lastName }}</td>
    <td> {{ patient.age }}</td>
        <td><a href="/update/{{ patient.id }}"> Update </a></td>
       <td><a href="/delete/{{ patient.id }}"> Delete </a></td>
       <td><a href="/addData/{{ patient.id }}"> Add data </a></td>
       <td><a href="/analyze/{{ patient.id }}"> Analyze </a></td>


    </tr>

    {% endfor %}
</table>

<a href="create/">Add patient</a>
</body>
</html>